@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://googleapis.com');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#a4c1d9;
    padding:30px;
}
.menu{
    width:100%;
    height: 45px;

    margin:20px auto 0;

    background:#7EC3EE;

    display:flex;
    align-items:center;

    padding:0 15px;

    position:relative;
    z-index:100;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:30px;
    height:30px;
    border-radius:50%;
    object-fit:cover;
}

.logo span{
    color:white;
    font-size:18px;
}

.menu nav{
    margin-left:250px;
}

.menu ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.menu a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.menu a:hover{
    color:#e9e9e9;
}

.menu .ativo{
    background:white;
    color:#444;
    padding:6px 12px;
    border-radius:8px;
}

.container{
    display:flex;
    width:100%;
    min-height:700px;
}

.esquerda{
    flex:2;
    padding:30px 40px;
    color:white;

    background:linear-gradient(
        90deg,
        #0078b7,
        #005f91,
        #2f93d4
    );
}

.direita{
    flex:1;
    background: #7EC3EE;
    background: linear-gradient(180deg,rgba(126, 195, 238, 1) 31%, rgba(125, 159, 181, 1) 66%);
    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:100px;
}

.linha{
    width:80%;
    height:4px;
    background:white;
    margin:30px auto 60px;
}

.conteudo{
    display:flex;
    justify-content:space-between;
    gap:60px;
}

.sobre{
    width:55%;
}

.sobre p{
    font-size:20px;
    font-family: "Inria Serif", serif;
}

.sobre h1{
    font-size:55px;
    margin:15px 0 25px;
    font-family: "Inria Serif", serif;
}

.sobre h3{
    font-size:30px;
    margin-top:30px;
    font-family: 'Inknut Antiqua', serif;
}

.sobre ul{
    margin-left:30px;
    margin-top:20px;
    line-height:1.5; 
}

button{
    margin-top:40px;
    padding:15px 40px;
    border:none;
    border-radius:8px;
    background:#295f84;
    color:white;
    cursor:pointer;
}

.experiencias{
    width:30%;
    text-align:center;
}

.experiencias h2{
    font-size:30px;
    margin-bottom:15px;
}

.cards{
    background:white;
    border-radius:35px;

    padding:20px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.cards img{
    width:80px;
    margin:auto;
}

.contatos{
    margin-top:35px;
    font-size:20px;
}

.foto{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
}
.direita{
    padding-bottom: 2%;
}

.direita h2{
    color:white;
    margin-top:25px;
    font-size:26px;
}

.linha2{
    width:80%;
    height:4px;
    background:white;
    margin:20px 0 40px;
}

.info{
    width:250px;
    padding:30px;
    align-content: baseline;
    background: #31A3E9;
    background: linear-gradient(180deg,rgba(49, 163, 233, 1) 0%, rgba(78, 143, 183, 1) 46%, rgba(26, 108, 159, 1) 100%);
    border-radius:25px;
    color:white;

}

.info p{
    margin-bottom:25px;
}
.direita-superior{
    display: flex;
    flex-direction: column;
}